# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
.DS_Store
rattlesnake_alarm_code/.pio/build/project.checksum
rattlesnake_alarm_code/.pio/build/pico/idedata.json
rattlesnake_alarm_code/.vscode/c_cpp_properties.json
rattlesnake_alarm_code/.vscode/launch.json
rattlesnake_alarm_code/.pio/build/project.checksum
rattlesnake_alarm_code/.pio/build/pico/idedata.json
rattlesnake_alarm_code/.pio/build/pico/idedata.json
rattlesnake_alarm_code/.pio/build/project.checksum
rattlesnake_alarm_code/.vscode/c_cpp_properties.json
rattlesnake_alarm_code/.vscode/launch.json
rattlesnake_alarm_code/.pio/build/pico/idedata.json
rattlesnake_alarm_code/.pio/build/project.checksum
rattlesnake_alarm_code/.vscode/c_cpp_properties.json
rattlesnake_alarm_code/.vscode/launch.json
